<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./public/css/index.css">
  <link rel="stylesheet" href="./public/font/font-awesome-4.7.0/css/font-awesome.css">
  <title>Document</title>
</head>
<body>
  <div id="wrap">
    <header>
      <div id="logo">
        <a href="#">logo</a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html"><i class="fa fa-window-maximize"></i>  기본버튼  <i class="fa fa-angle-double-right"></i></a></li>
          <li><a href="icon.html"><i class="fa fa-window-maximize"></i>  아이콘  <i class="fa fa-angle-double-right"></i></a></li>
          <li><a href="btn-icon.html"><i class="fa fa-window-maximize"></i>  버튼 + 아이콘  <i class="fa fa-angle-double-right"></i></a></li>
          <li><a href="table.html"><i class="fa fa-window-maximize"></i>  테이블  <i class="fa fa-angle-double-right"></i></a></li>
          <li><a href="board.html"><i class="fa fa-window-maximize"></i>  게시판  <i class="fa fa-angle-double-right"></i></a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <p class="page-info">
        기본버튼
      </p>
      <div class="item-wrap">
        <p class="sec_title">기본 크기</p>
        <p>버튼 태그</p>
        <button class="btn btn-defalut" type="button">버튼</button>
        <button class="btn btn-defalut red" type="button">버튼</button>
        <button class="btn btn-defalut blue" type="button">버튼</button>
        <button class="btn btn-defalut green" type="button">버튼</button>
        <button class="btn btn-defalut yel" type="button">버튼</button>
        <button class="btn btn-defalut brwon" type="button">버튼</button>
        <p>인풋 태그</p>
        <input class="btn btn-defalut" type="button" value="버튼">
        <input class="btn btn-defalut red" type="button" value="버튼">
        <input class="btn btn-defalut blue" type="button" value="버튼">
        <input class="btn btn-defalut green" type="button" value="버튼">
        <input class="btn btn-defalut yel" type="button" value="버튼">
        <input class="btn btn-defalut brwon" type="button" value="버튼">
        <p>a 태그</p>
        <a href="#" class="btn btn-defalut">버튼</a>
        <a href="#" class="btn btn-defalut red">버튼</a>
        <a href="#" class="btn btn-defalut blue">버튼</a>
        <a href="#" class="btn btn-defalut green">버튼</a>
        <a href="#" class="btn btn-defalut yel">버튼</a>
        <a href="#" class="btn btn-defalut brwon">버튼</a>
      </div>
      <div class="item-wrap">
        <p class="sec_title">작은 크기</p>
        <p>버튼 태그</p>
        <button class="btn btn-defalut btn-sm" type="button">버튼</button>
        <button class="btn btn-defalut btn-sm red" type="button">버튼</button>
        <button class="btn btn-defalut btn-sm blue" type="button">버튼</button>
        <button class="btn btn-defalut btn-sm green" type="button">버튼</button>
        <button class="btn btn-defalut btn-sm yel" type="button">버튼</button>
        <button class="btn btn-defalut btn-sm brwon" type="button">버튼</button>
        <p>인풋 태그</p>
        <input class="btn btn-defalut btn-sm" type="button" value="버튼">
        <input class="btn btn-defalut btn-sm red" type="button" value="버튼">
        <input class="btn btn-defalut btn-sm blue" type="button" value="버튼">
        <input class="btn btn-defalut btn-sm green" type="button" value="버튼">
        <input class="btn btn-defalut btn-sm yel" type="button" value="버튼">
        <input class="btn btn-defalut btn-sm brwon" type="button" value="버튼">
        <p>a 태그</p>
        <a href="#" class="btn btn-defalut btn-sm">버튼</a>
        <a href="#" class="btn btn-defalut btn-sm red">버튼</a>
        <a href="#" class="btn btn-defalut btn-sm blue">버튼</a>
        <a href="#" class="btn btn-defalut btn-sm green">버튼</a>
        <a href="#" class="btn btn-defalut btn-sm yel">버튼</a>
        <a href="#" class="btn btn-defalut btn-sm brwon">버튼</a>
      </div>
      <div class="item-wrap">
        <p class="sec_title">큰 크기</p>
        <p>버튼 태그</p>
        <button class="btn btn-defalut btn-lg" type="button">버튼</button>
        <button class="btn btn-defalut btn-lg red" type="button">버튼</button>
        <button class="btn btn-defalut btn-lg blue" type="button">버튼</button>
        <button class="btn btn-defalut btn-lg green" type="button">버튼</button>
        <button class="btn btn-defalut btn-lg yel" type="button">버튼</button>
        <button class="btn btn-defalut btn-lg brwon" type="button">버튼</button>
        <p>인풋 태그</p>
        <input class="btn btn-defalut btn-lg" type="button" value="버튼">
        <input class="btn btn-defalut btn-lg red" type="button" value="버튼">
        <input class="btn btn-defalut btn-lg blue" type="button" value="버튼">
        <input class="btn btn-defalut btn-lg green" type="button" value="버튼">
        <input class="btn btn-defalut btn-lg yel" type="button" value="버튼">
        <input class="btn btn-defalut btn-lg brwon" type="button" value="버튼">
        <p>a 태그</p>
        <a href="#" class="btn btn-defalut btn-lg">버튼</a>
        <a href="#" class="btn btn-defalut btn-lg red">버튼</a>
        <a href="#" class="btn btn-defalut btn-lg blue">버튼</a>
        <a href="#" class="btn btn-defalut btn-lg green">버튼</a>
        <a href="#" class="btn btn-defalut btn-lg yel">버튼</a>
        <a href="#" class="btn btn-defalut btn-lg brwon">버튼</a>
      </div>
      <footer>
        Copyright (c) 2017 Copyright Holder All Rights Reserved.
      </footer>
    </div>
  </div>
</body>
</html>
